$gap: 1rem;
$double-gap: $gap * 2;
$half-gap: $gap * .5;
$white: #fff;
$bg: #fafafa;
$bgDarkBody: #181818;
$bgDark: #212020;
$colorBtn: #3cb4ab;
$colorBtnActive: #157a74;
$colorText: #737373;
$colorTextDark: #737373;